/* Override this file to customise the theme's CSS for your site */
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.1rem;
  margin: 1.5rem 0 0 0;
  font-weight: bold;
  color: var(--base09);
  /* color: var(--base0D); */
}

blockquote {
  color: var(--base03);
}

:root {
  /* Logo */
  --logo: var(--base0D);
}
